@{
    Layout = "_Layout";
}

<main class="h-100 d-flex flex-row">

    @(await Component.InvokeAsync<RoomListViewComponent>())

    @RenderBody()

</main>

@section scripts
{
<script src="~/lib/axios/dist/axios.min.js"></script>
<script src="~/lib/@@microsoft/signalr/dist/browser/signalr.min.js"></script>

@RenderSection("scripts", false)
}
