@model Message

<form class="chat-input" method="post">
    <textarea asp-for="Text" rows="1"></textarea>
    <input asp-for="RoomId" />
    <button asp-action="@nameof(ChatController.SendMessage)" asp-controller="@nameof(ChatController)" type="submit"
            class="cursor-pointer">
        <i class="fa-solid fa-paper-plane"></i>
    </button>
</form>