<!DOCTYPE html>

<html lang="en">

<head>

    <title>taChat</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/@@fortawesome/fontawesome-free/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>

    <nav class="navbar">
        <a href="/">taChat</a>
    </nav>

    <main class="main">
        <div class="rooms">
            <a href="#" class="rooms-button">Button</a>
            <a href="#" class="rooms-button">Button</a>
            <a href="#" class="rooms-button">Button</a>
            <a href="#" class="rooms-button">Button</a>
            <a href="#" class="rooms-button">Button</a>
            <a href="#" class="rooms-button">+</a>
        </div>

        @RenderBody()
    </main>

</body>

</html>