@model AccountViewModel

<div>
    <form asp-controller="Account" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>

        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <button asp-action="Login">Log in</button>
            <button asp-action="SignUp">Sign up</button>
        </div>
    </form>
</div>