<div class="chat">
    <div class="chat-messages">
        @for (int i = 0; i < 5; i++)
        {
            <div class="message">
                <span class="message-sender">Anton</span>
                <span class="message-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo similique commodi
                    ratione eos totam nam
                    cupiditate at nihil eum et?</span>
                <span class="message-timestamp">16:00</span>
            </div>
            <div class="message">
                <span class="message-sender">Anton</span>
                <span class="message-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo similique commodi
                    ratione eos totam nam
                    cupiditate at nihil eum et?</span>
                <span class="message-timestamp">16:00</span>
            </div>
            <div class="message message-my">
                <span class="message-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo similique commodi
                    ratione eos totam nam
                    cupiditate at nihil eum et?</span>
                <span class="message-timestamp">16:00</span>
            </div>
        }
    </div>

    <div class="chat-input">
        <textarea rows="2">Some text</textarea>
        <button href="/"><i class="fa-solid fa-paper-plane"></i></button>
    </div>
</div>