.message {
    max-width: 500px;
    padding: 0.5rem;
    border: 1px solid rgb(0, 0, 0, .125);
    border-radius: 0.5rem;
}

.message:first-child {
    margin-top: auto;
}

.message-my {
    background-color: #0b5361;
}

#chat-input-textarea {
    border: none !important;
    resize: none;
    overflow-y: hidden;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #118096;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 10px 10px;
}