@model IEnumerable<Room>

@{
    ulong currentRoomId = 0;
    ulong.TryParse(Context.Request.Query["roomId"], out currentRoomId);
}

<div class="bg-dark d-flex flex-column" style="min-width:150px">
    <div class="m-2 flex-grow-1 d-flex flex-column gap-2 overflow-auto">
        @foreach (Room room in Model)
        {
            if (currentRoomId == room.Id)
            {
                <a class="btn btn-light">@room.Name</a>
            }
            else
            {
                <a asp-action="ViewRoom" asp-controller="Chat" asp-route-roomId="@room.Id"
           class="btn btn-outline-light">@room.Name</a>
            }
        }
    </div>

    <div class="mx-2 mb-2 d-flex flex-column justify-content-center" style="min-height:52px">
        <button type="button" data-bs-toggle="modal" data-bs-target="#new-chat-modal" id="new-chat-button"
                class="btn btn-outline-success">
            New room
        </button>
    </div>
</div>

<div id="new-chat-modal" tabindex="-1" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <form method="post" class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Name new chat:</h5>
                <button type="button" class="btn btn-outline-danger text-center btn-sm" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="m-3 d-flex flex-column gap-3">
                <input name="name" type="text" class="form-control bg-dark text-white" />
                <div class="d-flex flex-row justify-content-center">
                    <button asp-action="CreateRoom" asp-controller="Chat" type="submit"
                            class="btn btn-outline-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>