@model IEnumerable<Room>

@{
    uint currentRoomId = 0;
    uint.TryParse(Context.Request.Query["roomId"], out currentRoomId);
}

<div class="rooms">
    @foreach (Room room in Model)
    {
        if (currentRoomId == room.Id)
        {
            <a class="rooms-button current">@room.Name</a>
        }
        else
        {
            <a asp-action="ViewRoom" asp-controller="Chat" asp-route-roomId="@room.Id" class="rooms-button">@room.Name</a>
        }
    }
</div>